.sidenav-header .navbar-brand .navbar-brand-img {
    max-height: 3rem;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Abrir";
}

.shadow-0 {
    box-shadow: none !important;
}

.icon-32 {
    min-width: 20px;
    min-height: 20px;
    max-height: 32px;
    max-width: 32px;
}

.pointer {
    cursor: pointer;
}

.filter-danger {
    filter: invert(33%) sepia(51%) saturate(3880%) hue-rotate(328deg) brightness(97%) contrast(97%);
}

.info-tile {
    width: 180px;
    height: 100px;
    box-shadow: 0px 0px 18px #f5365c2e;
    border: 1px solid #f5365c;
    border-radius: 10px;
}

.modal-backdrop.show{
    opacity: .36;
}

.modal-backdrop {
    z-index: 1060;
}

.modal {
    z-index: 1070;
}

.card-stats {
    min-height: 140px;
}

.bg-gradient-info-inverted {
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-success-inverted {
    background: linear-gradient(-87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-warning-inverted {
    background: linear-gradient(-87deg, #fb6340 0, #fbb140 100%) !important;
}

.bg-gradient-danger-inverted {
    background: linear-gradient(-87deg, #f5365c 0, #f56036 100%) !important;
}

.text-blue {
    color: #5e72e4 !important;
}

.tooltip-main {
    background: #172b4d;
}

.tooltip-inner {
    background: #172b4d;
}

.bs-tooltip-top .arrow::before {
    border-top-color: #172b4d;
}

.bs-tooltip-bottom .arrow::before {
    border-bottom: #172b4d;
}

.bs-tooltip-left .arrow::before {
    border-left-color: #172b4d;
}

.bs-tooltip-right .arrow::before {
    border-right-color: #172b4d;
}

.shadow-text { 
    text-shadow: 2px 2px 3px #ffffff80;
}